<div class="my-3">
    <h3>Add a Todo</h3>
    <form (ngSubmit)="OnSubmit()">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" [(ngModel)]="title" class="form-control" id="title" name="title" aria-describedby="emailHelp">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Todo Descrption</label>
            <input type="text" class="form-control" id="desc" [(ngModel)]="desc" name="desc">
        </div>
        <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
    